.list {
    display: grid;
    align-items: flex-start;
    grid-template-columns: 35px 1fr 35px;

    padding: 1rem;
    gap: 0.75rem;
    margin: 0.75rem 0;

    background-color: var(--gray-500);
    border: 1px solid var(--gray-400);
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
}

.list .listInputCheckbox {
    width: 20px;
    height: 20px;

    color: var(--white);

    background-color: transparent;

    border-radius: 50%;
    border: 2px solid var(--blue);

    cursor: pointer;

    transition: border 0.1s;
}

.list .listInputCheckbox[aria-checked="false"]:hover {
    border-color: var(--blue-dark);
}

.listInputCheckbox[aria-checked="true"] {
    font-size: 1.0625rem;

    padding: 1px 1px 0 0;
    border: none;
    background-color: var(--purple);

    transition: border 0.1s;
}

.listInputCheckbox[aria-checked="true"]:hover {
    background-color: var(--purple-dark);
}

.list .listParagraph {
    font-size: 0.875rem;
    color: var(--gray-100);
    line-height: 140%;
}

.listParagraphDone {
    font-size: 0.875rem;
    color: var(--gray-300);
    text-decoration: line-through;
    line-height: 140%;
}

.list .listDeleteComment {
    background: transparent;
    border: 0;
    color: var(--gray-400);
    cursor: pointer;

    line-height: 0;
    border-radius: 2px;
}

.list .listDeleteComment svg:hover {
    color: var(--danger);
    background-color: var(--gray-400);
}

.list .listDeleteComment svg {
    color: var(--gray-300);
    margin-right: 0.5rem;
}